.image1 {
	background-image: url(images/washmach42.png);
	background-size: cover;
	background-repeat:no-repeat;
}
.image2 {
	background-image: url(images/fire22.png);
	background-repeat:no-repeat;
	background-size: cover;
}
.image3 {
	background-image: url(images/plugs3.png);
	background-repeat:no-repeat;
	background-size: cover;
}
.image4 {
	background-image: url(images/stove41.png);
	background-repeat:no-repeat;
	background-size: cover;
}
.image5 {
	background-image: url(images/fridge43.png);
	background-repeat:no-repeat;
	background-size: cover;
}